/* Kratos CSS Plus */
.kratos-post-content ol li{
	margin-top:20px;
}

pre{
	color: #00ff00;
	background-color: #080808;
	font-size: 16px;
}

code{
    color: #00ff00;
    background-color: #080808;
    padding: 0 4px;
}