/* Kratos CSS Plus */
.kratos-post-content ol li{
	margin-top:20px;
}

pre{
	color: #00ff00;
	background-color: #080808;
	font-size: 16px;
}

pre::selection {
    color:#000000; 
    background:#FFFFFF;
}

code{
    color: #00ff00;
    background-color: #080808;
    padding: 0 4px;
}

code::selection {
    color:#000000; 
    background:#FFFFFF;
}
.token.function, .token.constant {
	color: #07a;
}
.token.variable {
	color: #e90;
}
.token.deliminator {
	font-weight:bold;
}
h3{
    font-size: 20px;
    line-height: 30px;
}